{
    "path": ".",
    "rules": {
        "assets": {
            "default.w4a": {
                "images": [
                    "textures/boltorez.png",
                    "textures/boom.png",
                    "textures/broken_fridge.png",
                    "textures/broken_sink.png",
                    "textures/cveti_high.png",
                    "textures/cveti_light.png",
                    "textures/fail.png",
                    "textures/flame.png",
                    "textures/fridge.png",
                    "textures/gaechnii_klyuch.png",
                    "textures/gubka.png",
                    "textures/gubka_high.png",
                    "textures/hand_clicked.png",
                    "textures/hand_unclicked.png",
                    "textures/happy.png",
                    "textures/intersection_particle_texture.png",
                    "textures/kist.png",
                    "textures/kitchen.png",
                    "textures/merge_particle_texture.png",
                    "textures/molotok.png",
                    "textures/nabor_shestigrannikov.png",
                    "textures/normal.png",
                    "textures/otvertka.png",
                    "textures/ploskogubci.png",
                    "textures/razvodnoi_klyuch.png",
                    "textures/repair_kitchen.png",
                    "textures/sad.png",
                    "textures/schetka.png",
                    "textures/sink.png",
                    "textures/stameska.png",
                    "textures/toporik.png",
                    "textures/valik.png",
                    "textures/vederko.png",
                    "textures/water_sink.png",
                    "textures/water_sink_down.png",
                    "textures/water_sink_top.png",
                    "textures/what_happend.png",
                    "textures/win.png",
                    "textures/work_place.png",
                    "textures/yaschik_closed.png",
                    "textures/yaschik_open.png"
                ],
                "materials": [
                    "materials/blowing.mat",
                    "materials/sprite.mat"
                ],
                "particles": [
                    "particles/intersection_success.part",
                    "particles/merge_success.part"
                ]
            }
        },
        "pass": [
            "config.json",
            "settings.json",
            "sounds/Click.mp3",
            "sounds/Fail.mp3",
            "sounds/Item_Merges.mp3",
            "sounds/ObjectTransform.mp3",
            "sounds/WaterRunning.mp3",
            "sounds/Win.mp3",
            "ui/final_logo/landscape.json",
            "ui/final_logo/portrait.json",
            "ui/game/landscape.json",
            "ui/game/portrait.json"
        ],
        "skip": [
            "AssetCreator.config",
            "materials/shaders/blowing.fs",
            "materials/shaders/sprite.fs",
            "materials/shaders/sprite.vs"
        ]
    },
    "version": "0.3"
}